body {
  
  height: 100vh;
  margin: 0;
}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
}

.cars{
  
  background-image: linear-gradient(
    to right bottom,
    #b91eda,
    #a02ae0,
    #8234e5,
    #5d3be8,
    #1241eb
  );
  height: 600px;
  width: 410px;
  border: black 4px solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;


}

img{
  border-radius: 20px;
  border: black 4px solid;
  margin-top: 0px;
}
button{
  border-radius: 4px;
  border:none;
  font-size: 1.3rem;
  margin-top: 1rem;
  background-color: lightblue;
  

}

h1{
  margin: 2px;
  text-align: center;
}
h2{
  margin: 3px;
  text-align: center;
}
h3{
  margin: 5px;
  text-align: center;
}

p{
  margin: 7px;
}