
/* index.html */

.container-fluid{
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
  
      

}
nav {
    border-bottom: black solid 5px;
    
    
}



.title{
    font-size: 100px;
    font-family: 'Architects Daughter', cursive;
    
    
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Basic', sans-serif;
    
    
}

.main-container h2{
    margin-top: 25px;
    font-size: 50px;
}
.main-container p{
    padding: 20px;
    font-size: 32px;
}
.main-container button{
    height: 50px;
    width: 200px;
    font-size: 25px;
    border-radius: 25px;
    border: white;
    color: grey;
}
.button-orange{
    background-color: lightsalmon;
}
.button-pink{
    background-color: lightpink;
}
.button-blue{
    background-color: lightblue;
}
.box1{
    background-color: #FF5412;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block; 
    margin: 20px;
    text-align: center;
    color: #f0f8ff;
}
.box2{
    background-color:hotpink;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block; 
    margin: 20px;
    text-align: center;
    color: #f0f8ff;
}
.box3{
    background-color: #3CBED0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block; 
    margin: 20px;
    text-align: center;
    color: #f0f8ff;
}
/* .footer{
    background-color: hotpink;
    grid-column: span 6;
} */
.main-heading{
    background-image: url("https://images.unsplash.com/photo-1581606588715-a4735b758c18?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNyYXlvbnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f8ff;
    font-family: 'Rampart One', cursive;
    
}
.main-heading h1{
    font-size: 100px;
    font-family: 'Rampart One', cursive;
}
.sidebar a {
    color: black;
    font-size: 60px;
}
.sidebar p {
    font-size: 40px;
}

@media screen and (max-width: 1300px) {
    .main-heading h1{
        font-size: 80px;
    }
    
}
@media screen and (max-width: 1020px) {
    .main-heading h1{
        font-size: 60px;
    }
    
}
@media screen and (max-width: 800px) {
    .main-heading h1{
        text-align: center;
    }
    
}
@media  screen and (max-width: 430px) {
    .main-heading h1{
        text-align: center;
        font-size: 50px;
    }
    .main-container h2 {
        font-size: 30px;
    }
    .main-container p{
        font-size: 20px;
    }
    .box1 {
        height: 360px;
    }
    .box2 {
        height: 360px;
    }
    .box3 {
        height: 360px;
    }
    .nav{
        font-size: 20px;
    }
    
}
@media  screen and (max-width: 325px) {
    .main-heading h1{
        text-align: center;
        font-size: 40px;
    }
    .main-container h2 {
        font-size: 20px;
    }
    .main-container p{
        font-size: 15px;
    }
    .box1 {
        height: 300px;
    }
    .box2 {
        height: 300px;
    }
    .box3 {
        height: 300px;
    }
    .main-container button {
        height: 30px;
        width: 100px;
        font-size: 15px;
    }
    }
    

/* leveledreaders.html */


.book-searches{
    text-align: center;
   
    height: 300px;
    
    font-family: 'Itim', cursive;
    
}
   

.book-searches h2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 60px;
    padding-top: 50px;
    color: black;
    font-family: 'Itim', cursive;
}


.input{
    border: 3px solid #FF66E9;
    height: 50px;
    width: 500px;
    border-radius: 50px;
    padding: 5px;
    font-family: 'Itim', cursive;

}



.main{
    width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    
    border-radius: 10px;
    font-family: 'Itim', cursive;
}





.title-books{
    text-align: center;
    margin-bottom: 50px;
    background-image: url("https://images.unsplash.com/photo-1607316484934-713e23cf5074?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fGJvb2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-books h1{
    font-size: 100px;
    color: white;
    font-family: 'Rampart One', cursive;
   
}
.book-searches{
 
    
    font-family: 'Itim', cursive;
}
.search-button{
    width: 100px;
    border-radius: 7px;
    background-color: #01DEE6;
    color: grey;
    font-size: 30px;
    border: none;
    font-family: 'Itim', cursive;
}

.leveled-books img{
    width: 400px;
    height: 450px;
    margin: 9px;
}
.book-data img:hover{
    width: 375px;
    height: 450px;
    transition: 0.5s ease;
}
img:hover{
    width: 500px;
    height: 550px;
    transition: 0.5s ease;
}

.books{
   text-align: center;
   font-family: 'Itim', cursive;
}
.books h2{
    color: black;
    background-color: #C6274D;
    font-size: 40px;
    padding: 60px;
    font-family: 'Itim', cursive;
    margin-top: 60px;
    margin-bottom: 60px;
    /* display: inline-block; */
    
    
}
.books h1{
    background-color: #FBF608;
    padding: 40px;
    font-size: 60px;
    font-family: 'Itim', cursive;
    margin-bottom: 60px;
}

.leveled-books{
    margin-top: 60px;
}
@media screen and (max-width: 1300px) {
    .main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 980px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
}
@media screen and (max-width: 659px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        }
}
@media screen and (max-width: 415px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        }
        .input{
            width: 290px;
        }
        .search-button{
            height: 35px;
            font-size: 17px;
            width: 60px;
        }
        .title-books h1{
            font-size: 70px;
        }
        .leveled-books img{
            height: 350px;
            width: 300px;
        }
            
}
.main img{
    width: 300px;
    height: 400px;
}
@media screen and (max-width: 380px){
    .input{
        width: 290px;
    }
    .search-button{
        height: 35px;
        font-size: 17px;
        width: 60px;
    }
    .title-books h1{
        font-size: 70px;
    }
    .leveled-books img{
        height: 350px;
        width: 300px;
    }
    .book-data img{
        height: 350px;
        width: 300px;
    }
    }
@media screen and (max-width: 320px){
    .input{
        width: 250px;
    }
    .title-books h1{
        font-size: 50px;
    }
    .leveled-books img{
        height: 300px;
        width: 250px;
    }
    .book-data img{
        height: 300px;
        width: 250px;
    }
}

/* VIDEO */
.title-video{
    text-align: center;
    margin-bottom: 50px;
    background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGNvdmVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-video h1{
    font-size: 100px;
    color: white;
    font-family: 'Rampart One', cursive;
}

.movie {
    height: 1200px;
    width: 80%;
    margin-left: 250px;
}
.videos{
    margin-bottom: 50px;
}
.videos h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    background-color:#01DEE6;
    height: 200px;
    font-size: 60px;
    text-align: center;
    border-radius: 20px;
    color: #f0f8ff;
    font-family: 'Cabin Sketch', cursive;
}
.background2{
    background-color: #252827;
}

.videos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: dashed 2px;
    height: 100px;
    border-radius: 20px;
    font-family: 'Cabin Sketch', cursive;
    
}
.movePage {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}
.movePage button{
    height: 100px;
    width: 400px;
    font-size: 40px;
    border-radius: 30px;
    border: none;
    color:#f0f8ff;
    background-color: #FF66E9;
    font-family: 'Cabin Sketch', cursive;
}
.background{
    background-color: #444444;
}
html{
    background-color: #444444;
}

@media screen and (max-width: 2000px){
    .movie{
        height: 900px;
    }
}

@media screen and (max-width: 1700px){
    .movie{
        height: 700px;
        margin-left: 150px; 
    }
    .movePage button{
        width: 300px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px){
    .movie{
        height: 500px;
        margin-left: 100px; 
    }
    .movePage button{
        width: 250px;
        font-size: 30px;
    }
}
@media screen and (max-width: 900px){
    .movie{
        height: 400px;
        margin-left: 80px; 
    }
    .movePage button{
        width: 170px;
        font-size: 30px;
    }
}
@media screen and (max-width: 600px){
    .movie{
        height: 300px;
        margin-left: 60px; 
    }
    .movePage button{
        width: 100px;
        font-size: 25px;
    }
}
@media screen and (max-width: 420px){
    .movie{
        height: 200px;
        margin-left: 40px; 
    }
    .movePage button{
        width: 70px;
        height: 45px;
        font-size: 15px;
    }
    .nav {
        font-size: 17px;
    }
    .videos h1{
        font-size: 40px;
        margin: 10px;
      
    }
    .videos h2{
        margin: 5px;
        margin-bottom: 10px;
    }
    .title-video h1{
        font-size: 50px;
    }
    }
@media screen and (max-width: 360px) {
    .nav {
        font-size: 13px;
    }
    .movie {
        margin-left: 30px;
    }
}
@media screen and (max-width: 290px) {
    .nav {
        font-size: 9px;
    }
}