
.container-fluid{
    font-size: 30px;
  
      

}
nav {
    border-bottom: black solid 5px;
    
    
}
.game-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 30px;
    gap: 10px;
    
}
.game-links img{
    width:300px;
    height: 300px;
}
button {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    margin: 20px;
    background-color: lightgreen;
    border: none;
}

.opening {
    background-image: url("https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    margin-bottom: 50px;
    color:#f0f8ff;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.opening h1{
    font-size: 100px;
}


.dreambox{
    background-color: transparent;
    width: 400px;
    height: 300px;
    
    perspective: 1000px;
    border-radius: 20px;
}
.dreambox-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.dreambox:hover .dreambox-inner{
    transform: rotateY(180deg)
}
.dreambox-front, .dreambox-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.dreambox-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}
.khanAcademy{
    background-color: transparent;
   width: 400px;
   height: 300px;
   perspective: 1000px;
   border-radius: 20px;
}
.khanAcademy-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.khanAcademy:hover .khanAcademy-inner{
    transform: rotateY(180deg)
}
.khanAcademy-front, .khanAcademy-back{
    position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

.khanAcademy-back{
     background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  border-radius: 30px;
}


.starfall{
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    border-radius: 20px;
}
.starfall-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.starfall:hover .starfall-inner{
    transform: rotateY(180deg)
}
.starfall-front, .starfall-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.starfall-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}





.abcMouse{
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    border-radius: 20px;
}
.abcMouse-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.abcMouse:hover .abcMouse-inner{
    transform: rotateY(180deg)
}
.abcMouse-front, .abcMouse-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.abcMouse-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}







.readingEggs{
    background-color: transparent;
    width: 400px;
    height: 300px;
    
    perspective: 1000px;
    border-radius: 20px;
}
.readingEggs-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.readingEggs:hover .readingEggs-inner{
    transform: rotateY(180deg)
}
.readingEggs-front, .readingEggs-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.readingEggs-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}










.Istation{
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    border-radius: 20px;
}
.Istation-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.Istation:hover .Istation-inner{
    transform: rotateY(180deg)
}
.Istation-front, .Istation-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.Istation-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}








.Iready{
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    border-radius: 20px;
}
.Iready-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.Iready:hover .Iready-inner{
    transform: rotateY(180deg)
}
.Iready-front, .Iready-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.Iready-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}











.ABCYa{
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    border-radius: 20px;
}
.ABCYa-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.ABCYa:hover .ABCYa-inner{
    transform: rotateY(180deg)
}
.ABCYa-front, .ABCYa-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.ABCYa-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}

@media screen and (max-width: 1600px) {
    .game-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .opening h1{
        font-size: 65px;
    }

}

@media screen and (max-width: 1200px){
    .game-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .opening h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 800px){
    .game-links{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .opening h1{
        font-size: 30px;
    }
    .nav{
        font-size: 20px;
    }
}
