
.title h1{
  text-align: center;
    
    
}


.container-fluid{
    font-size: 30px;
  
    
   
    

}
nav {
    border-bottom: black solid 5px;
    
    
}
.leveled-books img{
    width: 400px;
    height: 450px;
}

.books{
    text-align: center;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-row: auto;
}
.title{
    grid-column: span 6;
    font-size: 90px;
}
.sidebar{
    background-color:white;
    border: black dashed 5px;
}
.footer{
    background-color: purple;
    grid-column: span 6;
}



/* input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 10%;
  } */



.book-searches{
    text-align: center;
    background-color: grey;
    height: 300px;
    width: 1000px;
    border-radius: 50px;
    
    
}
.book-searches h2{
    margin-bottom: 50px;
    font-size: 50px;
}

.input{
    border: 3px solid #32e17c;
    height: 40px;
    width: 500px;
    border-radius: 50px;
    padding: 0px 10px;

}
/* .search-books{
    margin-top: 450px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto; */


.main{
    width: 80%;
    height: 100%;
    ;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 90px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
}

.main img{
    width: 300px;
    height: 400px;
}
