
/* index.html */

.container-fluid{
    font-size: 30px;
  
      

}
nav {
    border-bottom: black solid 5px;
    
    
}



.title{
    font-size: 100px;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.main-container h2{
    margin-top: 25px;
    font-size: 40px;
}
.main-container p{
    margin: 50px;
    font-size: 25px;
}
.main-container button{
    height: 50px;
    width: 200px;
    font-size: 25px;
    border-radius: 25px;
    background-color: white
}
.box1{
    background-color: #FF5412;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block; 
    margin: 20px;
    text-align: center;
    color: white;
}
.box2{
    background-color:hotpink;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block; 
    margin: 20px;
    text-align: center;
    color: white;
}
.box3{
    background-color: #3CBED0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block; 
    margin: 20px;
    text-align: center;
    color: white;
}
/* .footer{
    background-color: hotpink;
    grid-column: span 6;
} */
.main-heading{
    background-image: url("https://images.unsplash.com/photo-1581606588715-a4735b758c18?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNyYXlvbnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f8ff;
    
}
.main-heading h1{
    font-size: 100px;
}
.sidebar a {
    color: black;
    font-size: 60px;
}
.sidebar p {
    font-size: 40px;
}
/* booksearch.html */


.book-searches{
    text-align: center;
   
    height: 300px;
    border-radius: 100px;
    
}
   

.book-searches h2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 60px;
    color: #FF66E9;
}


.input{
    border: 3px solid #32e17c;
    height: 40px;
    width: 500px;
    border-radius: 50px;
    padding: 0px 10px;

}



.main{
    width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    
    border-radius: 10px;
}

@media screen and (max-width: 1300px) {
    .main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 980px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
}
@media screen and (max-width: 659px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        }
}
@media screen and (max-width: 400px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        }
}
.main img{
    width: 300px;
    height: 400px;
}

/* leveledreader.html */

.title-books{
    text-align: center;
    margin-bottom: 50px;
    background-image: url("https://images.unsplash.com/photo-1596123068611-c89d922a0f0a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJvb2tzaGVsZnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-books h1{
    font-size: 100px;
    color: #f0f8ff;
   
}
.book-searches{
    background-color: #252827;
    margin-right: 200px;
    margin-left: 200px;

    
}
.book-searches h2{
    padding-top: 50px;
}
.leveled-books img{
    width: 400px;
    height: 450px;
}
img:hover{
    width: 500px;
    height: 550px;
}

.books{
    text-align: center;
}

.leveled-books{
    margin-top: 60px;
}

/* VIDEO */
.title-video{
    text-align: center;
    margin-bottom: 50px;
    background-image: url("https://images.unsplash.com/photo-1521989116480-519a01ffeb2d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2NyZWVuJTIweW91dHViZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-video h1{
    font-size: 100px;
    color: #f0f8ff;
}

.movie {
    height: 1200px;
    width: 80%;
    margin-left: 250px;
}
.videos{
    margin-bottom: 50px;
}
.videos h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    background-color:#01DEE6;
    height: 200px;
    font-size: 60px;
    text-align: center;
    border-radius: 20px;
    color: #f0f8ff;
}
.background2{
    background-color: #252827;
}

.videos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: dashed 2px;
    height: 100px;
    border-radius: 20px;
    
}
.movePage {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}
.movePage button{
    height: 100px;
    width: 400px;
    font-size: 40px;
    border-radius: 30px;
    border: none;
    color:#f0f8ff;
    background-color: #FF66E9;
}
.background{
    background-color: #444444;
}
html{
    background-color: #444444;
}

@media screen and (max-width: 2000px){
    .movie{
        height: 900px;
    }
}

@media screen and (max-width: 1700px){
    .movie{
        height: 700px;
        margin-left: 150px; 
    }
    .movePage button{
        width: 300px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px){
    .movie{
        height: 500px;
        margin-left: 100px; 
    }
    .movePage button{
        width: 250px;
        font-size: 30px;
    }
}
@media screen and (max-width: 900px){
    .movie{
        height: 400px;
        margin-left: 80px; 
    }
    .movePage button{
        width: 200px;
        font-size: 30px;
    }
}
@media screen and (max-width: 600px){
    .movie{
        height: 300px;
        margin-left: 60px; 
    }
    .movePage button{
        width: 100px;
        font-size: 25px;
    }
}
@media screen and (max-width: 400px){
    .movie{
        height: 200px;
        margin-left: 40px; 
    }
    .movePage button{
        width: 70px;
        height: 45px;
        font-size: 15px;
    }
    .nav {
        font-size: 9px;
    }
    .videos h1{
        font-size: 40px;
        margin: 10px;
      
    }
    .videos h2{
        margin: 5px;
        margin-bottom: 10px;
    }
    .title-video h1{
        font-size: 50px;
    }
    }
