.kindergarten-picture{
    width: 90%;
    height: 300px;
}
h1 {
    font-size: 100px;
    
}


.container-fluid{
    font-size: 30px;
}
nav {
    border-bottom: black solid 5px;
    
    
}
.leveled-books img{
    width: 400px;
    height: 450px;
}

.books{
    text-align: center;
}