.container {
    height: 100vh;
}

.main {
    display: flex;
}

.header {
    background-color: khaki;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    position: absolute
}

.content {
    background-color: lawngreen;
    height: 999px;
    width: 3000px;
    margin-top: 100px;

}

.ads {
    background-color: lightseagreen;
    height: 999px;
    width: 100%;
    margin: 101px px;
}

.footer {
    background-color: magenta;
    height: 100px;
    width: 100%;
}

.sidebar {
    background-color: blue ;
    height: 100px;
    width: 100%;
    
}