.grid {
    display:grid;
    grid-template-columns: repeat(3, 50px);
    grid-auto-rows: 50px;   
} 

.gamepieces {
    border: 1px solid black;
}  


/* .grid{
    display: grid;
    grid-template-areas:
    "gamepieces gamepieces gamepieces"
    "gamepieces gamepieces gamepieces"
    "gamepieces gamepieces gamepieces";
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px;
    margin:5px;
} */
