.grid {
    display: grid;
    grid-template-areas:
        "pictures1 pictures2 pictures3"
        "pictures4 pictures5 pictures6"
        "pictures7 pictures8 pictures9"
        "pictures10 pictures11";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.pictures1{
    grid-column: 1/1;
    grid-row:1/1;
}