html{
    background-color: blueviolet;
}
h1{
    color: blue;
    font-size: 60px;
}
body {
    width: 100vh;
    height: 70vh;
    text-align: center;
    margin-top: 70px;
    margin-left: 20px;
    background-color: aqua;
    padding: 30px 30px 30px  30px;
}
.main-container{
    
}
h2 {
    font-size: 40px;
    border: black solid 2px;
    background-color: white;
}