.main {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #ACEEF3;
    height: 650px;
}
body {
    font-family: 'Martel', serif;
    color: #274472;
    margin:0; 
}
.header,
.footer {
    background-color: #F6C8CC;
    height: 80px;
    width: 100%;


}
.header {
    display: flex;
    align-items: center;
}
.header h1 {
    font-size: 60px;
    padding-left: 110px;
}
.sidebar {
    background-color: #5BB0BA;
    height: 610px;
    width: 22%;
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    
}
.sidebar h2 {
    font-size: 35px;
}
.sidebar ul {
    font-size: 25px;
}

.content {
    background-color: #C15B78;
    height: 640px;
    width: 76%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.content p {
    font-size: 20px;
    padding-right: 7px;
    padding-left: 7px;
}

.content h2 { 
    font-size: 40px;
}

.header,
.footer,
.siderbar
.content{
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
}


.footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    align-content: space-around;
    justify-content: space-between;
    
    
    
}
.footer a {
    color: black;
    font-size: 20px;
    
}