html{
    background-color: black;
}
body{
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;{
}
.navbar{
    width: 100%;
    padding-left: 30px;
    padding-right:10px;
    display: grid;
    grid-template-columns: 3fr .7fr .4fr .5fr;
  
}
h1{
    color: red;
    font-size: 60px;
    margin-top: 5px;

}
h6 {
    font-size: 15px;
    margin-top: 20px;
}

.join{
    color: white;
    background-color: red;
    height: 50px;
    width: 150px;
    font-size: 15px;
   
}
.sign{
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 15px;
    padding: 2px;
}
img{
    height: 300px;
    width: 400px;
    text-align: justify;
}
h2{
    font-size: 70px;
    padding-bottom: 1px;
}
h4{
    font-size: 25px;
}
.container{
    background-color: #1e1e25;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1px;
    padding-left: 10px;
}
.description{
    grid-column: 1/3;
    grid-row:1/2;
}

.starwars{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/2;

}
.loki{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
}
.office{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 2/3;
    grid-column: 3/4;
}
.avatar{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 2/3;
    grid-column: 4/5;
}
.reallife{
    grid-row: 3/4;
    grid-column: 1/5;
}
.parksandrec{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 4/5;
    grid-column: 1/2;
}
.avengers{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 4/5;
    grid-column: 2/3;
}
.harrypotter{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 4/5;
    grid-column: 3/4;
}
.fastandfurious{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 4/5;
    grid-column: 4/5;
}
.familiar{
    grid-row: 5/6;
    grid-column: 1/5;
}
.hellskitchen{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 6/7;
    grid-column: 1/2;
}
.pirates{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 6/7;
    grid-column: 2/3;
}
.strangerthings{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 6/7;
    grid-column: 3/4;
}
.raya{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    grid-row: 6/7;
    grid-column: 4/5;
}
.loki:hover,.avatar:hover,.starwars:hover,.office:hover,.avengers:hover,.harrypotter:hover,.parksandrec:hover,.fastandfurious:hover{
    transform: 200ms ease;
} 